include ../_mixin/macrosMixin


-
    var mainTitle = "Подробнне</br>об устройстве";


section.more#more
    .container.clearfix
        .more__row.clearfix
            .more__row_left

                +mainTitle(mainTitle)

            .more__row.more__row_right

                a(
                    href="javascript:void(0);"
                    title=""
                    data-more="device"
                    class="more__btn active"
                )!= "устройство"
                a(
                    href="javascript:void(0);"
                    title=""
                    data-more="kit"
                    class="more__btn"
                )!= "комплектация"

        div(class="owl-carousel more__carousel more__carousel-device")
            .more__item.more__item-0
                img(
                    src="./image/device/img-device-0.png"
                    alt=""
                    title=""
                    class="img_responsive"
                )
                img(
                    src="./image/device/img-device-0-line-0.png"
                    alt=""
                    title=""
                    class="img_responsive more__item-line more__item-line-0"
                )
                img(
                    src="./image/device/img-device-0-line-1.png"
                    alt=""
                    title=""
                    class="img_responsive more__item-line more__item-line-1"
                )
                img(
                    src="./image/device/img-device-0-line-2.png"
                    alt=""
                    title=""
                    class="img_responsive more__item-line more__item-line-2"
                )
                img(
                    src="./image/device/img-device-0-line-3.png"
                    alt=""
                    title=""
                    class="img_responsive more__item-line more__item-line-3"
                )

                p.more__item-text.more__item-text-0!= "ON/OFF"
                p.more__item-text.more__item-text-1!= "Indicator led"
                p.more__item-text.more__item-text-2!= "WI-FI ON/OFF"
                p.more__item-text.more__item-text-3!= "Emergency video save"

            .more__item.more__item-1
                img(
                    src="./image/device/img-device-1.png"
                    alt=""
                    title=""
                    class="img_responsive"
                )
                img(
                    src="./image/device/img-device-1-line-0.png"
                    alt=""
                    title=""
                    class="img_responsive more__item-line more__item-line-0"
                )
                img(
                    src="./image/device/img-device-1-line-1.png"
                    alt=""
                    title=""
                    class="img_responsive more__item-line more__item-line-1"
                )
                img(
                    src="./image/device/img-device-1-line-2.png"
                    alt=""
                    title=""
                    class="img_responsive more__item-line more__item-line-2"
                )

                p.more__item-text.more__item-text-0!= "HDMI slot"
                p.more__item-text.more__item-text-1!= "SD card slot"
                p.more__item-text.more__item-text-2!= "Reset button"

            .more__item.more__item-2
                img(
                    src="./image/device/img-device-2.png"
                    alt=""
                    title=""
                    class="img_responsive"
                )
                img(
                    src="./image/device/img-device-2-line-0.png"
                    alt=""
                    title=""
                    class="img_responsive more__item-line more__item-line-0"
                )

                p.more__item-text.more__item-text-0!= "Динамик"

            .more__item.more__item-3
                img(
                    src="./image/device/img-device-3.png"
                    alt=""
                    title=""
                    class="img_responsive"
                )
                img(
                    src="./image/device/img-device-3-line-0.png"
                    alt=""
                    title=""
                    class="img_responsive more__item-line more__item-line-0"
                )

                p.more__item-text.more__item-text-0!= "Power mini USB"

        div(class="owl-carousel more__carousel more__carousel-kit" style="opacity:0; height: 0; visibility:hidden;")
            .more__item.more__item-0
                img(
                    src="./image/kit/img-complect-0.png"
                    alt=""
                    title=""
                    class="img_responsive"
                )

            .more__item.more__item-1
                img(
                    src="./image/kit/img-complect-1.png"
                    alt=""
                    title=""
                    class="img_responsive"
                )
                img(
                    src="./image/kit/img-complect-1-line-0.png"
                    alt=""
                    title=""
                    class="img_responsive more__item-line more__item-line-0"
                )

                p.more__item-text.more__item-text-0!= "Блок зарядки"

            .more__item.more__item-2
                img(
                    src="./image/kit/img-complect-2.png"
                    alt=""
                    title=""
                    class="img_responsive"
                )
                img(
                    src="./image/kit/img-complect-2-line-0.png"
                    alt=""
                    title=""
                    class="img_responsive more__item-line more__item-line-0"
                )

                p.more__item-text.more__item-text-0!= "USB шнур"

            .more__item.more__item-3
                img(
                    src="./image/kit/img-complect-3.png"
                    alt=""
                    title=""
                    class="img_responsive"
                )
                img(
                    src="./image/kit/img-complect-3-line-0.png"
                    alt=""
                    title=""
                    class="img_responsive more__item-line more__item-line-0"
                )

                p.more__item-text.more__item-text-0!= "Крепление</br>к лобовому стеклу"

            .more__item.more__item-4
                img(
                    src="./image/kit/img-complect-4.png"
                    alt=""
                    title=""
                    class="img_responsive"
                )
                img(
                    src="./image/kit/img-complect-4-line-0.png"
                    alt=""
                    title=""
                    class="img_responsive more__item-line more__item-line-0"
                )

                p.more__item-text.more__item-text-0!= "Power mini USB"

    .more_skew